.img__jotaflix {
  width: 110px;
}

.navbar-nav__jotaflix {
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  color: #e50914 !important;
}
.bg-dark {
  background-color: #221f1f !important;
}
